{% load render_partial %}
<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/header_references.html' %}
</head>

<body>
<!-- Header -->
{% render_partial 'home.views.HeaderComponent' %}
{% block content %}{% endblock %}
<!-- Footer -->
{% render_partial 'home.views.FooterComponent' %}
<!-- Project view modal -->
<div class="modal-container">
    <div class="modal">
        <div class="modal-image">
            <img src="/static/assets/images/projects/1.jpg" alt="image">
        </div>
        <div class="modal-content">

            <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
            <p class="requirments">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                گرافیک است </p>

            <ul>
                <li><span>مهارت ها:-</span> HTML, CSS, BOOTSTRAP 4, JAVASCRIPT, FIGMA, PHOTOSHOP</li>
                <li><span>زمان اتمام پروژه:-</span>15 days</li>
                <li><span>آدرس پروژه:-</span> <a
                        href="https://netcopy.ir">https://netcopy.ir</a>
                </li>
            </ul>

            <div class="close-btn">
                <a href="javascript:void(0)" class="btn btn-blue close-modal">بستن</a>
            </div>
        </div>
    </div>
</div>
<!-- Scroll up -->
<a href="javascript:void(0)" class="scrollup">
    <img src="/static/assets/images/uparrow.svg" alt="arrow up">
</a>
</body>
{% include 'shared/footer_references.html' %}

</html>